.title {
    color: #f472b6;
    text-align: center;
}

.subtitle {
    color: #f472b6;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 970px;
    margin: auto;
    justify-content: center;
}

.card {
    background-color: #f1f5f9;
    border-radius: 20px;
    width: 40%;
    padding: 40px;
}
