.title {
    text-align: center;
    margin: 20px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.container p, .link {
    padding: 5px;
}

.section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.creator_name {
    color: #626a73;
}

.subheading {
    color: hotpink;
    margin: 10px;
    text-align: center;
}

.profile_photo {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.profile_photo_container {
    display: flex;
    justify-content: center;
}

.futures_features_list {
    padding: 10px;
    list-style: none;
}

.futures_features_list li {
    margin: 5px;
}

.futures_features_list ::before {
    content: '❤️';
    margin: 10px;
}

.profile_photo_container, .middle_profile_photo_container {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .about_the_creators_container {
        display: grid;
        width: 800px;
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr repeat(3, 200px);
        row-gap: 50px;
        align-items: center;
    }
    
    .about_the_creators_header {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    
    .creator_text_container {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .profile_photo_container {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .middle_profile_photo_container {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .middle_creator_text_container {
        grid-column-start: 2;
        grid-column-end: 5;
        margin-left: 20px;
    }
}
