* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--font-body);
    background-image: linear-gradient(to bottom right, white, thistle);
  } 
   
h1, h2 {
    font-family: var(--font-heading);
}

p, li {
    line-height: 1.6;
}