.nav_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    gap: 40px;
}

.link {
    font-weight: 500;
    text-decoration: none;
    color: black;
    text-align: center;
}

.link:visited {
    color: black;
}

.active_link {
    font-weight: 500;
    text-decoration: none;
    border-bottom: solid;
    border-bottom-width: 2px;
    margin-bottom: -2px;
    border-bottom-color: black;
}

.link:hover {
    color: hotpink;
    font-weight: 700;
}

@media screen and (max-width: 1024px) {

    .nav_links {
        position: absolute;
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
        margin-left: -155px;
        align-items: end;
        background: pink;
        border-style: solid;
        border-radius: 10px;
        padding: 10px;
        border-color: pink;
        border-width: medium;
    }

    .nav_links_hidden {
        display: none;
    }
    
}