.navigation {
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.container {
    display: flex;
    width: 100%;
    gap: 20px;
}

.logo_and_company_name_container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.link {
    font-weight: 500;
    text-decoration: none;
    color: black;
    text-align: center;
}

.link:visited {
    color: black;
}

.active_link {
    font-weight: 500;
    text-decoration: none;
    border-bottom: solid;
    border-bottom-width: 2px;
    margin-bottom: -2px;
    border-bottom-color: black;
}

.link:hover {
    color: hotpink;
    font-weight: 700;
}

.hamburger_container {
    display: none;
    border-radius: 25%;
    margin-bottom: 3px;
  }

@media screen and (max-width: 1024px) {

    .navigation {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hamburger_container {
        display: block;
        align-self: end;
    }
      
    .hamburger_container:hover {
        cursor: pointer;
        background-color: pink;
    }
    
}